# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/

# Streamlit
.streamlit/
.streamlit/cache/
.streamlit/secrets.toml

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test/coverage
.pytest_cache/
.coverage
htmlcov/
